.dashboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.selected-id {
  display: flex;
  align-items: flex-start;
  background-color: lightgray;
  padding: 4px;
}

.selected-data {
  display: flex;
  gap: 8px;
  background-color: #dfe8e8;
}
