.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.selected {
  background-color: red;
  border: 1px dashed black;
  color: white;
}
