.disassembly-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: white;
  width: 100%;
}

.text {
  background-color: lightgray;
  padding: 4px;
}
